 {% extends 'Foundation.html' %} {% load crispy_forms_tags %} 
 
 {% block title %}
 <title>TechPAL | Register</title>
 {% endblock %}
 {% block content %}
<div class="col-12" style="margin-top: 80px">
    <p>
        <a class="info-header" href="{% url 'account:login' %}">Have an account?, Login.</a>
    </p>
</div>

<div class="container" style="margin-bottom: 20px">



    <div class="col-12 col-lg-8 offset-lg-2 register-holder">

        <form method="POST">

            {% csrf_token %} {{ form|crispy }}
            <input type="submit" value="Register" class=" btn btn-primary pull-right">



        </form>


    </div>
</div>
</div>



{% endblock %}